/venv
/*.docx
*.DS_Store
/venv
*/__pycache__/*
*.pyc
.idea/
scaapi/cron/logs/sca.log
*.docx
db/*
#Dockerfile
doc/*
doc/example.json
conf/config.ini
logs/*.log
build_docker.sh
dongtai_py_agent.log
/venv
/*.docx
.git
.idea
/logs/*.log
build_docker.sh
*.DS_Store
/venv
*/__pycache__/*
*.pyc
.idea/
scaapi/cron/logs/sca.log
iast/upload/reports/*
db/*
conf/config.ini
#Dockerfile
doc
doc/example.json
logs/*.log
build_docker.sh
iast-package
config.ini
/venv
/*.docx
.git
.idea
build
*.c
*.o
