[submodule "dongtai-webapi"]
	path = dongtai-webapi
	url = https://github.com/HXSecurity/DongTai-webapi.git
[submodule "dongtai-engine"]
	path = dongtai-engine
	url = https://github.com/HXSecurity/DongTai-engine.git
[submodule "dongtai-openapi"]
	path = dongtai-openapi
	url = https://github.com/HXSecurity/DongTai-openapi.git
[submodule "dongtai-web"]
	path = dongtai-web
	url = https://github.com/HXSecurity/DongTai-web.git
[submodule "agent/dongtai-agent-java"]
	path = agent/dongtai-agent-java
	url = https://github.com/HXSecurity/DongTai-agent-java.git
[submodule "doc"]
	path = doc
	url = https://github.com/HXSecurity/DongTaiDoc.git
[submodule "deploy"]
	path = deploy
	url = https://github.com/HXSecurity/dongtai-deploy.git
[submodule "docker"]
	path = docker
	url = https://github.com/HXSecurity/dongtai-base-image.git
[submodule "plugins/IDEA"]
	path = plugins/IDEA
	url = https://github.com/HXSecurity/DongTai-Plugin-IDEA.git
