[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = ">=2022.12.7"
cffi = ">=1.15.1"
chardet = ">=3.0.4"
django = "~=3.2.19"
django-cors-headers = ">=3.7.0"
django-filter = ">=2.4.0"
django-ranged-response = ">=0.2.0"
django-xff = ">=1.3.0"
djangorestframework = "~=3.12.4"
django-rest-framework-proxy = ">=1.6.0"
django-utils = "==0.0.2"
django-utils-six = "==2.0"
django-simple-captcha = "~=0.5.14"
django-import-export = "==2.5.0"
oss2 = "==2.13.1"
idna = "==2.10"
lxml = "==4.9.1"
mysqlclient = "*"
python-docx = "==0.8.11"
requests = "==2.31.0"
six = "==1.15.0"
urllib3 = "==1.26.5"
xlwt = "==1.3.0"
pyre2 = "~=0.3.6"
celery = "==5.3.0rc1"
redis = "==4.4.4"
openpyxl = "==3.0.9"
id-validator = "==1.0.20"
jq = "==1.3.0"
django-celery-beat = "==2.2.0"
django-cprofile-middleware = "*"
drf-spectacular = "==0.22.1"
django-modeltranslation = "==0.17.7"
pycryptodomex = "~=3.14.1"
simhash = "==2.1.2"
result = "~=0.8.0"
python-json-logger = "~=2.0.2"
jsonlog = "==4.0.0"
pymysql = "==1.0.2"
uwsgitop = "==0.11"
django-redis = "==5.2.0"
packaging = "==21.3"
docxtpl = "==0.16.0"
docxcompose = "==1.3.4"
django-elasticsearch-dsl = "==7.2.2"
#asyncio-gevent = "==0.2.1"
gevent = "==22.10.2"
ddt = "==1.6.0"
boto3 = "==1.24.59"
mypy = "==1.0.1"
typing-extensions = ">=4.3.0"
djangorestframework-stubs = {version = ">=1.7.0", extras = ["compatible-mypy"]}
django-stubs = {version = ">=1.12.0", extras = ["compatible-mypy"]}
types-pymysql = ">=1.0.19"
types-redis = ">=4.3.20"
types-requests = ">=2.28.10"
types-urllib3 = ">=1.26.24"
boto3-stubs = ">=1.24.72"
botocore-stubs = ">=1.27.71"
pep8 = ">=1.7.1"
botocore = "==1.27.91"
setuptools = "==65.5.1"
elasticsearch = "==7.17.7"
django-mock-queries = "==v2.1.7"
jsonschema = "==4.17.0"
pillow = "==9.3.0"
pyrsistent = "==0.19.1"
pytz = "==2022.6"
types-pyyaml = ">=6.0.12.2"
uwsgi = "==2.0.22"
marisa-trie = "==0.8.0"
gunicorn = "==20.1.0"
celery-singleton = "*"
djangorestframework-dataclasses = "*"
django-seriously = "*"
dataclasses-json = "*"
django-silk = "*"
types-python-dateutil = "*"
shortuuid = "*"
networkit = "*"
flower = "~=2.0.0"
django-health-check = "==3.17.0"
django-prometheus = "==2.3.1"
django-add-default-value = "==0.10.0"
networkx = {extras = ["all"], version = "*"}
pandas = "~=2.1.0"
pydot = "*"
more-itertools = "*"
pyotp = "~=2.9.0"
qrcode = "~=7.4"

[dev-packages]

[requires]
python_version = "3.10"
