-i https://pypi.org/simple
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-core-v3==2.13.33
aliyun-python-sdk-kms==2.16.1
amqp==5.1.1 ; python_version >= '3.6'
annotated-types==0.5.0 ; python_version >= '3.7'
asgiref==3.7.2
async-timeout==4.0.2 ; python_version >= '3.6'
attrs==23.1.0 ; python_version >= '3.7'
autopep8==2.0.2 ; python_version >= '3.6'
billiard==4.1.0 ; python_version >= '3.7'
boto3==1.24.59
boto3-stubs==1.28.2
botocore==1.27.91
botocore-stubs==1.29.165
celery==5.3.0rc1
celery-singleton==0.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0 ; python_full_version >= '3.7.0'
click==8.1.4 ; python_version >= '3.7'
click-didyoumean==0.3.0 ; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
click-plugins==1.1.1
click-repl==0.3.0 ; python_version >= '3.6'
crcmod==1.7
cryptography==41.0.3
dataclasses-json==0.5.9
ddt==1.6.0
defusedxml==0.7.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
diff-match-patch==20230430 ; python_version >= '3.7'
django==3.2.20
django-celery-beat==2.2.0
django-cors-headers==4.2.0
django-cprofile-middleware==1.0.5
django-elasticsearch-dsl==7.2.2
django-filter==23.2
django-health-check==3.17.0
django-import-export==2.5.0
django-mock-queries==v2.1.7
django-modeltranslation==0.17.7
django-prometheus==2.3.1
django-ranged-response==0.2.0
django-redis==5.2.0
django-rest-framework-proxy==1.6.0
django-seriously==0.4.0
django-silk==5.0.3
django-simple-captcha==0.5.18
django-stubs[compatible-mypy]==1.15.0
django-stubs-ext==4.2.2 ; python_version >= '3.8'
django-timezone-field==4.2.3 ; python_version >= '3.5'
django-utils==0.0.2
django-utils-six==2.0
django-xff==1.4.0
djangorestframework==3.12.4
djangorestframework-dataclasses==1.2.0
djangorestframework-stubs[compatible-mypy]==1.9.1
docxcompose==1.3.4
docxtpl==0.16.0
drf-spectacular==0.22.1
elasticsearch==7.17.7
elasticsearch-dsl==7.4.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
et-xmlfile==1.1.0 ; python_version >= '3.6'
flower==2.0.0
gevent==22.10.2
gprof2dot==2022.7.29 ; python_version >= '2.7'
greenlet==2.0.2 ; platform_python_implementation == 'CPython'
gunicorn==20.1.0
humanize==4.7.0 ; python_version >= '3.8'
id-validator==1.0.20
idna==2.10
inflection==0.5.1 ; python_version >= '3.5'
jinja2==3.1.2 ; python_version >= '3.7'
jmespath==0.10.0 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
jq==1.3.0
jsonlog==4.0.0
jsonschema==4.17.0
kombu==5.3.1 ; python_version >= '3.8'
lxml==4.9.1
marisa-trie==0.8.0
markuppy==1.14
markupsafe==2.1.3 ; python_version >= '3.7'
marshmallow==3.19.0 ; python_version >= '3.7'
marshmallow-enum==1.5.1
mock==5.0.2 ; python_version >= '3.6'
model-bakery==1.12.0 ; python_version >= '3'
mypy==1.0.1
mypy-extensions==1.0.0 ; python_version >= '3.5'
mysqlclient==2.2.0
networkit==10.1
numpy==1.25.1 ; python_version >= '3.9'
odfpy==1.4.1
openpyxl==3.0.9
oss2==2.13.1
packaging==21.3
pep8==1.7.1
pillow==9.3.0
prometheus-client==0.17.1 ; python_version >= '3.6'
prompt-toolkit==3.0.39 ; python_full_version >= '3.7.0'
pycodestyle==2.10.0 ; python_version >= '3.6'
pycparser==2.21
pycryptodome==3.18.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pycryptodomex==3.14.1
pydantic==2.0.2 ; python_version >= '3.7'
pydantic-core==2.1.2 ; python_version >= '3.7'
pymysql==1.0.2
pyparsing==3.1.0 ; python_full_version >= '3.6.8'
pyre2==0.3.6
pyrsistent==0.19.1
python-crontab==2.7.1
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-docx==0.8.11
python-json-logger==2.0.7
pytz==2022.6
pyyaml==6.0 ; python_version >= '3.6'
redis==4.4.4
requests==2.31.0
result==0.8.0
s3transfer==0.6.1 ; python_version >= '3.7'
scipy==1.11.1 ; python_version < '3.13' and python_version >= '3.9'
setuptools==65.5.1
shortuuid==1.0.11
simhash==2.1.2
six==1.15.0
sqlparse==0.4.4 ; python_version >= '3.5'
tablib[html,ods,xls,xlsx,yaml]==3.5.0 ; python_version >= '3.8'
tomli==2.0.1 ; python_version < '3.11'
tornado==6.3.2 ; python_version >= '3.8'
types-awscrt==0.16.23 ; python_version >= '3.7' and python_version < '4.0'
types-pymysql==1.1.0.0
types-pyopenssl==23.2.0.1
types-python-dateutil==2.8.19.13
types-pytz==2023.3.0.0
types-pyyaml==6.0.12.10
types-redis==4.6.0.2
types-requests==2.31.0.1
types-s3transfer==0.6.1 ; python_version >= '3.7' and python_version < '4.0'
types-urllib3==1.26.25.13
typing-extensions==4.7.1
typing-inspect==0.9.0
tzdata==2023.3 ; python_version >= '2'
uritemplate==4.1.1 ; python_version >= '3.6'
urllib3==1.26.5
uwsgi==2.0.21
uwsgitop==0.11
vine==5.0.0 ; python_version >= '3.6'
wcwidth==0.2.6
xlrd==2.0.1
xlwt==1.3.0
zope.event==5.0 ; python_version >= '3.7'
zope.interface==6.0 ; python_version >= '3.7'
