[mysql]
host = dongtai-mysql 
port = 3306
name = dongtai_webapi
user = root
password = dongtai-iast

[redis]
host = dongtai-redis
port = 6379
password = 123456 
db = 0

[engine]
url = http://dongtai-engine:8000

[apiserver]
url = http://dongtai-openapi:8000

[smtp]
server = smtp_server
user = smtp_user
password = smtp_password
from_addr = from_addr
port = 25
ssl = False
cc_addr = cc_addr

[aliyun_oss]
access_key = LTAI5t7pu9WUT2DcbknfNiaD
access_key_secret = ZoEOSi7KfayQ7JalvJVHa37fdZ4XFY

[sca]
base_url = http://52.80.75.225:8000

[security]
csrf_trust_origins = localhost,.huoxian.cn,.secnium.xyz

[other]
domain = http://localhost.domain/
demo_session_cookie_domain = .huoxian.cn
