[mysql]
host = mysql-server
port = mysql-port
name = database_name
user = username
password = password

[redis]
host = redis-server
port = redis-port
password = password
db = <celery broker db>

[engine]
url = engine-url

[smtp]
server = server
user = user
password = password
from_addr = from_add
ssl = ssl
cc_addr = cc_addr

[aliyun_oss]
access_key = LTAI5t7pu9WUT2DcbknfNiaD
access_key_secret = ZoEOSi7KfayQ7JalvJVHa37fdZ4XFY