version: "2"
services:
  dongtai-mysql: 
    image: registry.cn-beijing.aliyuncs.com/huoxian_pub/dongtai-mysql:{ChangeThisVersion}
    restart: always
    volumes:
      - "mysql-vol:/var/lib/mysql:rw"
      #- "/var/lib/mysql"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
  dongtai-redis:
    image: registry.cn-beijing.aliyuncs.com/huoxian_pub/dongtai-redis:{ChangeThisVersion}
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
  dongtai-web:
    image: registry.cn-beijing.aliyuncs.com/huoxian_pub/dongtai-web:{ChangeThisVersion}
    restart: always
    ports:
      - "80:80"
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf"
    depends_on:
      - dongtai-server
    logging:
      driver: "json-file"
      options:
        max-size: "10m"

  dongtai-engine:
    image: "registry.cn-beijing.aliyuncs.com/huoxian_pub/dongtai-server:{ChangeThisVersion}"
    restart: always
    entrypoint: ["/opt/dongtai/webapi/docker/entrypoint.sh", "worker"]
    volumes:
      - ./config-tutorial.ini:/opt/dongtai/webapi/conf/config.ini
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
  dongtai-server:
    image: "registry.cn-beijing.aliyuncs.com/huoxian_pub/dongtai-server:{ChangeThisVersion}"
    restart: always
    volumes:
      - ./config-tutorial.ini:/opt/dongtai/webapi/conf/config.ini
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
  dongtai-engine-task:
    image: "registry.cn-beijing.aliyuncs.com/huoxian_pub/dongtai-server:{ChangeThisVersion}"
    restart: always
    entrypoint: ["/opt/dongtai/webapi/docker/entrypoint.sh", "beat"]
    volumes:
      - ./config-tutorial.ini:/opt/dongtai/webapi/conf/config.ini
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
  dongtai-logrotate:
    image: registry.cn-beijing.aliyuncs.com/huoxian_pub/logrotate:v1
    restart: always
    user: root
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./log/:/tmp/logstash/
      - ./logrotate:/etc/logrotate.d/logrotate
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
    privileged: true
  dongtai-logstash:
    image: registry.cn-beijing.aliyuncs.com/huoxian_pub/logstash:7.9.2-v1
    restart: always
    user: root
    environment:
      - TZ=Asia/Shanghai
    ports:
      - "8083:5044"
      - "8082:5045"
    volumes:
      - ./log/:/tmp/logstash/
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
    privileged: true
volumes:
  mysql-vol:
